<template>
  <div class="field">
    <label v-if="label">{{label}}</label>
    <input :value='value' @input='updateValue' v-bind='$attrs' v-on="listeners">
  </div>
</template>

<script>
  import { formFieldMixin } from '../mixins/form_field_mixin'

  export default {
    mixins: [formFieldMixin],
    props: {
      value: [String, Number],
    },
    computed: {
      listeners() {
        return {
          ...this.$listeners,
          input: this.updateValue
        }
      }
    },
    
  }
</script>
