<template>
  <div> 
    <label v-if="label">{{label}}</label>
    <select :value="value" v-on="$listeners" @change="updateValue" v-bind="$attrs">
      <option v-for="option in options" :key="option" :selected="option === value">{{ option }}</option>
    </select>
  </div>
</template>

<script>
  import { formFieldMixin } from '../mixins/form_field_mixin'

  export default {
    mixins: [formFieldMixin],
    props: {
      value: [String, Number],
      options: {
        type: Array,
        required: true
      }
    },
   
    
  }
</script>
